<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/ourstory.css">
    <link href="http://fonts.cdnfonts.com/css/lilita-one" rel="stylesheet">
    <script src="src= https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Specially Yours</title>
</head>

<body>
    <!-- <style background: #E5E5E5;></style> -->
    {{>navbar1}}
    </div>
    </div>
    <div class="ispy">
        <a href="categories/ISpy_bl">
            <img src="/Images/Categories/I-Spy.png" alt="I-Spy" style="position: absolute;
                width: 240px;
                height: 286px;
                left: 420px;
                top: 90px;
                
                border: 1.5px solid #54B2C7;
                box-sizing: border-box;">
        </a>
    </div>
    <div class="socialstory">
        <a href="categories/socialstory_bl">
            <img src="/Images/Categories/SocialStory.png" alt="SocialStory" style="position: absolute;
                width: 240px;
                height: 286px;
                left: 890px;
                top: 100px;
                
                /* OgPink/Pink1 */
                
                border: 1.5px solid #FF90A0;
                box-sizing: border-box;">
        </a>
    </div>

    <div class="math">
        <a href="categories/basicmath_bl">
            <img src="/Images/Categories/Math.png" alt="Math" style="position: absolute;
                width: 240px;
                height: 286px;
                left: 650px;
                top: 400px;
                
                /* OgPeach/Peach1 */
                
                border: 1.5px solid #FFB2A7;
                box-sizing: border-box;">
        </a>
    </div>

    <div class="emotioni">
        <a href="categories/emotioni_bl">
            <img src="/Images/Categories/EmotionIdentification.png" alt="emotioni" style="position: absolute;
                width: 240px;
                height: 286px;
                left: 1130px;
                top: 400px;
              
                
                border: 1.5px solid #9ED6D2;
                box-sizing: border-box;">
        </a>

       {{>footer}}
        {{!-- <footer
  style="position: absolute;
                    width: 100%;
                    height: 35px;
                    left: 0px;
                    top: 95.5%;         
                    background: rgba(150, 218, 213, 0.5);"
>
</footer> --}}
        <!-- </div> -->
</body>

</html>