<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opencv JS</title>
    <!-- <script async src="js/opencv.js" onload="openCvReady();"></script> -->
    {{!-- <script src="js/utils.js"></script>
    <script src="js/FD.js"></script> --}}
</head>
<body>
    {{>face_html}}
</body>
{{>face_js}}
</html>