<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="onboarding.css">
    <link href="http://fonts.cdnfonts.com/css/lilita-one" rel="stylesheet">
    <script src="src= https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Specially Yours</title>
</head>

<body>

    {{>navbar}}

    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="poster">
                    <div class="inner">
                        <h2 style="text-align: center; color: #5DA6B0;">WANNA HAVE SOME FUN?</h2>

                        <br>
                        <h3 style="text-align: center; color: #73BEB9">Go to our categories page to play some really
                            cool games AND learn new things along the
                            way!
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col" style="position: fixed; 
            left: 50.7%;
            right: 4.38%;  
            top: 182px;
            bottom: 188px;
            filter: drop-shadow(0px 4px 4px rgba(150, 218, 213, 0.25));">
                <img src="images/homepage.png" alt="" width="575px" height="350px">
            </div>
        </div>
    </div>
    {{>footer}}

    


</body>

</html>