<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ispy_prereq_2.css">
    <link href="http://fonts.cdnfonts.com/css/lilita-one" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Specially Yours</title>
</head>

<body>
   {{>navbar1}}



    <div class="gamename">I-Spy: Prerequisites [Page 2]</div>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <div class="shapes">
                    <img src="/images/Pre-req/Prerequisite_Shapes.jpg" alt="" style="height: 80%; width:110%;
                        margin-left: 50%; margin-top: 21%;">
                </div>
                <div>
                    <div>
                        <a href="ispy_prereq_1">
                            <i class="arrow left"></i>
                        </a>
                    </div>


                </div>

            </div>

            <div class="col">
                <a href="/categories/ISpy_bl/ispy_game">
                    <button type="button" href="" style="position: absolute;
                    width: 273px;
                    height: 46px;
                    left: 710px;
                    top: 620px;
                    font-family: 'Lilita One';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 30px;
                    text-align: center;
                    background-color: white;

                    color: rgba(93, 166, 176, 0.75);" class=" btn btn-secondary">Skip to game</button>
                </a>

            </div>
        </div>
    </div>
    <br>
    <br>
    {{>footer}}
</body>

</html>