<nav class="navbar navbar-light bg-light" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="images/logo.jpeg" alt="" width="50" height="60" style=" margin: auto;"
                class="d-inline-block align-text-top"></a>

        <div>
            <h3 style="text-align: left; color: rgb(238, 163, 163);">Specially Yours</h3>
        </div>

        <div class="btn-group" role="group" aria-label="Basic example">

            <button type="button" 
                style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;"
                class="btn btn-secondary"><a href="/home" style="text-decoration:none;hover:none;color:white;">Our Story</a></button>
            <button type="button" 
                style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;"
                class="btn btn-secondary"><a href="/ed" style="text-decoration:none;hover:none;color:white;">Categories</a></button>
            <button type="button" href="/register"
                style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;"
                class="btn btn-secondary"><a href="/register" style="text-decoration:none;hover:none;color:white;">Register</a></button>
            <button type="button" 
                style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;"
                class="btn btn-secondary"><a href="/login" style="text-decoration:none;hover:none;color:white;">Log in</a></button>

        </div>
    </div>
</nav>