<nav
  class="navbar navbar-light bg-light"
  style="position: fixed;
        height: 70px;
        left: 0px;
        right: 0px;
        top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"
>
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
       
      <img
        src="/Images/Homepage/logonew.png"
        
        style="position: absolute;
                left: 1.64%;
                right: 92.37%;
                margin-right: 0px;
                top: 0%;
                bottom: 0%;"
        alt=""
        width="76px"
        height="70px"
        class="d-inline-block align-text-top"
      />
    </a>

    <div>
      <h3
        style="position: absolute;
                height: 45px;
                left: 9.53%;
                right: 71.56%;
                top: 12px;
                
                font-family: 'Lilita One';
                font-style: normal;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                /* or 111% */
                
                font-feature-settings: 'liga' off;
                
                color: #FF90A0;"
      >Specially Yours</h3>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">

      <a href="/ourstory">
        <button
          type="button"
          id="change"
          href="/ourstory.html"
          style="margin: 5px; 
                border-radius: 5px; 
                width: 250px; 
                background-color: #5da6b0;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
                align-items: center;"
          class="btn btn-secondary"
        >Our Story</button></a>

      <a href="/categories">
        <button
          type="button"
          href="/categories.html"
          style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0; font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 27px;
                    align-items: center;"
          class="btn btn-secondary"
        >Categories
        </button>
      </a>

      {{#if logState}}
      <a href="/myprofile.html">
                    <button type="button" href="/myprofile.html" style="margin: 5px; 
                border-radius: 5px; 
                width: 250px; 
                background-color:  #5da6b0;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
                align-items: center;" class="btn btn-secondary">
               
                  Hi, {{Uname}} </button>

                    

                </a>

      <a href="/logout">
        <button
          type="button"
          href="#"
          style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;
                    font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
                align-items: center;"
          class="btn btn-secondary"
        >Log out
        </button>
      </a>
      {{else}}
        <a href="/login">
        <button
          type="button"
          href="/login.html"
          style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;
                    font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
                align-items: center;"
          class="btn btn-secondary"
        >Login
        </button>
      </a>

      <a href="/signup">
        <button
          type="button"
          href="/signup.html"
          style="margin: 5px; border-radius: 5px; width: 250px; background-color:  #5da6b0;
                    font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 27px;
                align-items: center;"
          class="btn btn-secondary"
        >Sign Up
        </button>
      </a>
      {{/if}}
    </div>
  </div>

</nav>