*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lilita One', sans-serif;
                                                
}
body{
    font-family: 'Lilita One', sans-serif;
   
}
.frame{
position: absolute;
height: 512px;
left: 14.61%;
right: 14.53%;
top: calc(50% - 512px/2 + 18px);
margin-top: 0px;

mix-blend-mode: normal;
border: 20px solid rgba(255, 144, 160, 0.5);
box-sizing: border-box;
border-radius: 25px;
}
.col1{
position: absolute;
align-items: center;
width: 345px;
height: 278px;
left: 400px;
top: 250px;
/* OgTeal/Teal1 */
border: 2px solid #5DA6B0;
box-sizing: border-box;
}

