* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lilita One', sans-serif;

}

body {
    font-family: 'Lilita One', sans-serif;
    background-color: #FFFFFF;

}

#btn-group button .btn .btn-secondary {

    background-color: rgb(238, 163, 163) !important;
    text-align: center;
}

.poster {
    position: absolute;
    height: 573px;
    left: 28.44%;
    right: 26.64%;
    top: calc(50% - 573px/2 - 13px);

    mix-blend-mode: normal;
    border: 20px solid rgba(255, 144, 160, 0.5);
    box-sizing: border-box;
    border-radius: 25px;
}

.fname {
    position: absolute;
    width: 180px;
    height: 23px;
    left: 80px;
    top: 30px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;
}

#fname {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 11%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.lastname {
    position: absolute;
    width: 180px;
    height: 23px;
    left: 80px;
    top: 108px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;
}

#lastname {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 25.5%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.pemail {
    position: absolute;
    width: 180px;
    height: 23px;
    left: 80px;
    top: 185px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;
}

#pemail {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 40%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.number {
    position: absolute;
    width: 500px;
    height: 23px;
    left: 80px;
    top: 262px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;
}

#number {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 55%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.password {
    position: absolute;
    width: 500px;
    height: 23px;
    left: 80px;
    top: 342px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;

}

#pwd {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 70%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}

.cpassword {
    position: absolute;
    width: 500px;
    height: 23px;
    left: 80px;
    top: 425px;

    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 23px;
    color: #5DA6B0;

}

#cpwd {
    position: absolute;
    left: 80px;
    right: 20%;
    top: 85%;
    bottom: 30%;
    background: #FFFFFF;
    width: 70%;
    height: 8%;
    border: 1px solid #9ED6D2;
    box-sizing: border-box;
    border-radius: 6px;
}